/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

.user-profile-container, #user-message {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: .9rem;
  font-weight: 700;
  margin: 10px 0;
}

.user-profile-container > h4 {
  margin: 10px 0px;
}

.user-profile-container > * {
  width: fit-content;
}

#profile-name, #profile-username, #profile-created-at {
  font-weight: lighter;
}
